[submodule "deps/git-ls-branches"]
	path = deps/git-ls-branches
	url = https://github.com/gitbits/git-ls-branches.git
[submodule "deps/git-info"]
	path = deps/git-info
	url = https://github.com/gitbits/git-info.git
[submodule "deps/git-shift"]
	path = deps/git-shift
	url = https://github.com/JGRennison/git-shift.git
[submodule "deps/git-scripts"]
	path = deps/git-scripts
	url = https://github.com/jwiegley/git-scripts.git
[submodule "deps/git-cascade"]
	path = deps/git-cascade
	url = https://github.com/cool-RR/git-cascade.git
[submodule "deps/git-combine-merges"]
	path = deps/git-combine-merges
	url = https://github.com/JGRennison/git-combine-merges.git
[submodule "deps/git-rebase-all"]
	path = deps/git-rebase-all
	url = https://github.com/nornagon/git-rebase-all
